<!-- <div>
  <div class="cardDashboard">
    <div class="paddingLayer">
      <div class="titleCheckBox">
        <p class="title">{{ getLimitedTitle() }}</p>
   
        <div class="checkbox-wrapper-39">
          <label>
            <input type="checkbox" />
            <span class="checkbox"></span>
          </label>
        </div>
      </div>
      <p class="description">
         {{ getLimitedDescription() }}
      </p>
      <div class="lowerPart">
        <div class="left">
          <div class="imgTitle">
            <img src="../../../assets/dashboard/icon1.png" alt="no img" />
            <p>
              <small>6 hours</small>
            </p>
          </div>
          <div class="imgTitle">
            <img src="../../../assets/dashboard/icon1.png" alt="no img" />
            <p>12 lessons</p>
          </div>
          <div class="imgTitle">
            <img src="../../../assets/dashboard/icon1.png" alt="no img" />
            <p>Beginner</p>
          </div>
        </div>
        <div class="right">
          <div class="buttonArea">
            <div class="button">Open</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="cardDashboard">
  <div class="paddingLayer">
    <div class="titleCheckBox">
      <p class="title">{{ getLimitedTitle() }}</p>
      <div class="checkbox-wrapper-39">
        <label>
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
      </div>
    </div>
    <p class="description">
      {{ getLimitedDescription() }}
    </p>
    <div class="lowerPart">
      <div class="buttonArea">
        <div class="button" (click)="openDialog()">Open</div>
      </div>
    </div>
  </div>
</div>
