@use "./../../../styles.scss";

// body {

//   font-size: 0.8125rem;
//   font-weight: 400;
//   line-height: 1.5;
//   text-align: left;
// }

.cardDashboard {
    font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  color: rgba(242, 249, 255, 0.7);
  width: 284px;
  height: 260px;
  border-color: #19191a;
  background-color: #22242e;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 3px 4px 0 rgba(0, 0, 0, 0.04),
    0 1px 8px 0 rgba(0, 0, 0, 0.02);
  background-clip: border-box;
  border: 1px solid styles.$borderColor;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
   box-shadow: inset 0 0 0 , 0 3px 0 styles.$backgroundSidebar;
}
.paddingLayer {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.25rem;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}
.title {
  color: #f2f9ff;
  font-weight: 500;
  font-size: 1rem;
  font-family: Exo\2, Helvetica Neue, Arial, sans-serif;
  line-height: 1.25;
}

.description {
  font-size: 13px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}

.lowerPart {
  font-size: 13px;
  align-items: center;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
}
.left {
  height: 100%;
  flex-basis: 50%;
  padding-right: 12px;
  display: flex;
  width: auto;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  justify-content:space-around;
}

.imgTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imgTitle img {
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
  font-size: 0.5rem;
  font-style: normal;
  filter: invert(97%) sepia(87%) saturate(6322%) hue-rotate(179deg) brightness(110%) contrast(108%);




}

.imgTitle p{
  color: rgba(242,249,255,.5);
  margin-bottom: 0!important;
      margin-top: 0;
      flex: 1 1 0%;
      display: block;
      

}
.imgTitle small {
  font-size: .8125rem;
    font-weight: 400;

}

.right {
  display: flex;
  flex-basis: 50%;
  justify-content: right;
  margin-bottom: 0px;
  height: 100%;
}

.button {
  background-color: #5567ff;
  border-color: #5567ff;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15),
    0 1px 1px rgba(39, 44, 51, 0.075);
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Exo\2, Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.5;
}
.button:hover {
  background-color: #3045ff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.titleCheckBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.check{
    width:1.5rem;
    height: 1.5rem;
}

.buttonArea{
  height: 100%;
  display: flex;
  align-items:end;
}

  .checkbox-wrapper-39 *,
  .checkbox-wrapper-39 *::before,
  .checkbox-wrapper-39 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-39 label {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .checkbox-wrapper-39 input {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-39 input:checked ~ .checkbox {
   transform: rotate(45deg);
   width: 14px;
   margin-left: 12px;
   border-color: #5567ff;
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
  }

  .checkbox-wrapper-39 .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid rgba(242,249,255,.5);
    border-radius: 6px;
    transition: all 0.375s;
  }
