<!-- <div class="todos">

 <form (submit)="addTodo()">

  <input type="text"
   name="inputTodo" 
   placeholder="Add Todo"
   class="todo-input"
   [(ngModel)]="inputTodo"
   />

   <input type="submit" value="Add Todo" class="todo-submit"/>
 </form>

  <div *ngFor="let todo of todos; let i=index;" 
  class="todo {{(todo.completed? 'done': '' )}}">


    <div class="id">{{i}}</div>
    <div class="content" (click) ="toggleDone(i)"   >{{todo.content}}</div>
    <button class="delete" (click)="deleteToDo(i)"   >Remove</button>
  </div>
</div> -->

<div class="random-names-container">
<div *ngFor="let nameWithIcon of randomNamesWithIcons" class="random-name">
  
  <img class="icons" [src]="nameWithIcon.iconLink" alt="Icon" >
  <div>{{ nameWithIcon.name }}</div>
</div>
</div>