@use "../../../styles.scss";

.footer {
  display: grid;
  position: absolute;
  margin-bottom: 0;
  background-color: purple;
  margin-left: 255px;
  margin-top: 70%;
  width: calc(100% - 255px);
  height: max-content;
  background-color: #1d1e27;
  color: #757982;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 40px;
  font-size: 15px;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  text-decoration: none;
  padding: 25px;
  padding-right: 100px;

  border-top: 2px solid #1a191a !important;
}
