.header {
  //display:flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px; /* Example height for the header */
  width: calc(100% - 255px);
margin-left: 50px;//not working
padding-left: 20px;//changing why?
  background-color: #1d1e27;
 
  border-bottom: 2px solid #1a191a !important;
color:white;
 
}
