<div class="wholeScreen">
  <div fxLayout="row" class="wholeScreenInside">
    <div class="wholeMenuUserWrapper">
      <div class="menuUserWrapper">
        <app-menu-user
          [profilePhoto]="profilePhoto"
          [name]="name"
          [role]="role"
          class="menuUser"
        ></app-menu-user>фддш сщгтев иу 
      </div>
      <div class="menuWrapper">
        <app-menu class="menu" [menuItems]="items"></app-menu>
      </div>
    </div>
    <div class="mainWrapper">
      <app-header></app-header>
      <div class="content">
        <div class="insideContent"><router-outlet></router-outlet></div>
      </div>
      <app-footer class="footer"></app-footer>
    </div>
  </div>
</div>
