@use './../styles.scss';

.wholeScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.wholeMenuUserWrapper {
  background-color: styles.$backgroundSidebar;
  width: 19%;
  display: flex;
  flex-direction: column;
}
.menuUserWrapper {
  position: sticky;
  top: 0;
}

.menuWrapper {
  position: fixed;
  top: 17rem;
  overflow-y: auto;
}

.mainBody {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: styles.$backgroundMain;
}

.footer {
  background-color: styles.$backgroundMain ;
}

