<div class="wholeScreen">
  <div fxLayout="row" style="flex: 1">
    <div class="wholeMenuUserWrapper">
      <div class="menuUserWrapper">
        <app-menu-user class="menuUser"></app-menu-user>
      </div>
      <div class="menuWrapper">
        <app-menu class="menu" [menuItems]="items"></app-menu>
      </div>
    </div>
    <div class="mainBody">
      <app-header></app-header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="footer"></app-footer>
    </div>
  </div>
</div>
