.main{
   
   
    background-color:#1c1d26 ;
    color: white;
}

.mainBelow{
     padding-top: 4px solid rgb(225, 221, 221);
    padding-bottom: 2px black;

}
h1{
  padding-top: 1rem;
  text-align: center;
}

h3{
  padding:2rem;
}