/* You can add global styles to this file, and also import other style files */
$textGray: #667084; 
$backgroundPurple: #364573;
$white:#ffffff;
$backgroundBrightPurple:#5567ff;
$black:#000000;


$fontFamily: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;