/* You can add global styles to this file, and also import other style files */
$textGray: #676d76;
$backgroundMain:#1c1d26;
$backgroundSidebar:#22242e;
$borderColor:#19191a;

$fontFamily: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol;
* {
  margin: 0;
}
