/* You can add global styles to this file, and also import other style files */
$color-text-gray: #667084; 
$purple_background: #364573;
$text_hover_white:#ffffff;
$bright-purple:#5567ff;
$black:#5567ff;


$font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;