<div id="wrapper">
      <div class="row">
        <div id="boulder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Boulder badge</h1>
        </div>

        <div id="cascade-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
          </div>
          <h1>Cascade badge</h1>
        </div>

        <div id="thunder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Thunder badge</h1>
        </div>

        <div id="rainbow-badge">
          <div class="badge">
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-leaf part-7"></div>
            <div class="part-leaf part-8"></div>
            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
          </div>
          <h1>Rainbow badge</h1>
        </div>
      </div>

      <div class="row">
        <div id="soul-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
            <div class="part part-9"></div>
            <div class="part part-10"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Soul badge</h1>
        </div>

        <div id="marsh-badge">
          <div class="badge">
            <div class="inner"></div>
          </div>
          <h1>Marsh badge</h1>
        </div>

        <div id="volcano-badge">
          <div class="badge">
            <div class="part-outer part-1"></div>
            <div class="part-outer part-2"></div>
            <div class="part-outer part-3"></div>
            <div class="part-outer part-4"></div>
            <div class="part-outer part-5"></div>
            <div class="part-outer part-6"></div>
            <div class="part-outer part-7"></div>
            <div class="part-outer part-8"></div>
            <div class="part-outer part-9"></div>
            <div class="part-outer part-10"></div>

            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
            <div class="part-inner part-5"></div>
            <div class="part-inner part-6"></div>
            <div class="part-inner part-7"></div>
            <div class="part-inner part-8"></div>
            <div class="part-inner part-9"></div>
            <div class="part-inner part-10"></div>
          </div>
          <h1>Volcano badge</h1>
        </div>

        <div id="earth-badge">
          <div class="badge">
            <div class="part-leaf part-top"></div>
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-center part-handle"></div>
            <div class="part-center part-1-left"></div>
            <div class="part-center part-1-right"></div>
            <div class="part-center part-2-left"></div>
            <div class="part-center part-2-right"></div>
            <div class="part-center part-3-left"></div>
            <div class="part-center part-3-right"></div>
            <div class="part-center part-4"></div>
          </div>
          <h1>Earth badge</h1>
        </div>
      </div>

      <div id="wrapper">
      <div class="row">
        <div id="boulder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Boulder badge</h1>
        </div>

        <div id="cascade-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
          </div>
          <h1>Cascade badge</h1>
        </div>

        <div id="thunder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Thunder badge</h1>
        </div>

        <div id="rainbow-badge">
          <div class="badge">
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-leaf part-7"></div>
            <div class="part-leaf part-8"></div>
            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
          </div>
          <h1>Rainbow badge</h1>
        </div>
      </div>

      <div class="row">
        <div id="soul-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
            <div class="part part-9"></div>
            <div class="part part-10"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Soul badge</h1>
        </div>

        <div id="marsh-badge">
          <div class="badge">
            <div class="inner"></div>
          </div>
          <h1>Marsh badge</h1>
        </div>

        <div id="volcano-badge">
          <div class="badge">
            <div class="part-outer part-1"></div>
            <div class="part-outer part-2"></div>
            <div class="part-outer part-3"></div>
            <div class="part-outer part-4"></div>
            <div class="part-outer part-5"></div>
            <div class="part-outer part-6"></div>
            <div class="part-outer part-7"></div>
            <div class="part-outer part-8"></div>
            <div class="part-outer part-9"></div>
            <div class="part-outer part-10"></div>

            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
            <div class="part-inner part-5"></div>
            <div class="part-inner part-6"></div>
            <div class="part-inner part-7"></div>
            <div class="part-inner part-8"></div>
            <div class="part-inner part-9"></div>
            <div class="part-inner part-10"></div>
          </div>
          <h1>Volcano badge</h1>
        </div>

        <div id="earth-badge">
          <div class="badge">
            <div class="part-leaf part-top"></div>
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-center part-handle"></div>
            <div class="part-center part-1-left"></div>
            <div class="part-center part-1-right"></div>
            <div class="part-center part-2-left"></div>
            <div class="part-center part-2-right"></div>
            <div class="part-center part-3-left"></div>
            <div class="part-center part-3-right"></div>
            <div class="part-center part-4"></div>
          </div>
          <h1>Earth badge</h1>
        </div>
      </div>
      <div id="wrapper">
      <div class="row">
        <div id="boulder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Boulder badge</h1>
        </div>

        <div id="cascade-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
          </div>
          <h1>Cascade badge</h1>
        </div>

        <div id="thunder-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Thunder badge</h1>
        </div>

        <div id="rainbow-badge">
          <div class="badge">
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-leaf part-7"></div>
            <div class="part-leaf part-8"></div>
            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
          </div>
          <h1>Rainbow badge</h1>
        </div>
      </div>

      <div class="row">
        <div id="soul-badge">
          <div class="badge">
            <div class="part part-1"></div>
            <div class="part part-2"></div>
            <div class="part part-3"></div>
            <div class="part part-4"></div>
            <div class="part part-5"></div>
            <div class="part part-6"></div>
            <div class="part part-7"></div>
            <div class="part part-8"></div>
            <div class="part part-9"></div>
            <div class="part part-10"></div>
            <div class="part part-shade"></div>
          </div>
          <h1>Soul badge</h1>
        </div>

        <div id="marsh-badge">
          <div class="badge">
            <div class="inner"></div>
          </div>
          <h1>Marsh badge</h1>
        </div>

        <div id="volcano-badge">
          <div class="badge">
            <div class="part-outer part-1"></div>
            <div class="part-outer part-2"></div>
            <div class="part-outer part-3"></div>
            <div class="part-outer part-4"></div>
            <div class="part-outer part-5"></div>
            <div class="part-outer part-6"></div>
            <div class="part-outer part-7"></div>
            <div class="part-outer part-8"></div>
            <div class="part-outer part-9"></div>
            <div class="part-outer part-10"></div>

            <div class="part-inner part-1"></div>
            <div class="part-inner part-2"></div>
            <div class="part-inner part-3"></div>
            <div class="part-inner part-4"></div>
            <div class="part-inner part-5"></div>
            <div class="part-inner part-6"></div>
            <div class="part-inner part-7"></div>
            <div class="part-inner part-8"></div>
            <div class="part-inner part-9"></div>
            <div class="part-inner part-10"></div>
          </div>
          <h1>Volcano badge</h1>
        </div>

        <div id="earth-badge">
          <div class="badge">
            <div class="part-leaf part-top"></div>
            <div class="part-leaf part-1"></div>
            <div class="part-leaf part-2"></div>
            <div class="part-leaf part-3"></div>
            <div class="part-leaf part-4"></div>
            <div class="part-leaf part-5"></div>
            <div class="part-leaf part-6"></div>
            <div class="part-center part-handle"></div>
            <div class="part-center part-1-left"></div>
            <div class="part-center part-1-right"></div>
            <div class="part-center part-2-left"></div>
            <div class="part-center part-2-right"></div>
            <div class="part-center part-3-left"></div>
            <div class="part-center part-3-right"></div>
            <div class="part-center part-4"></div>
          </div>
          <h1>Earth badge</h1>
        </div>
      </div>
      